body, html {
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #ffffff;
    text-align: center;
    font-family: helvetica;
}

a {
    text-decoration:none;
    color: #414141; #darkgrey
}

a:active {
    text-decoration:none;
    color: #FEF2D5; #palemandarin
}

.bar {
    height: 15px;
    background: #FBBC2E; #orange
}

.title {
    color: #414141; #darkgrey
    height: 50%;
    width: 100%;
    font-size: 300%;
    text-align: centre:
    background: #ffffff; #white
    font-color: #414141; #darkgrey
    text-decoration: none;
}

.content {
    margin: 0px;
    margin-top: 0px;
}

/*----- Tabs -----*/
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
    width: 95%;
    float: none;
    list-style: none;
    position: relative;
    padding: 0px;
    margin: 10px auto;
}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 0px 0px;
    border-radius: 2px 2px 0 0;
    color: #FBBC2E; #orange
    font-size: 24px;
    font-weight: normal;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: #FEF2D5; #palemandarin
    top: 0;
}

[id^=tab]:checked + label {
    background: #FB2;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

.tab-content{
    z-index: 2;
    display: none;
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 20px;
    line-height: 130%;
    padding-top: 0px;
    background: #FFFFFF; #orange
    padding: 15px;
    color: black;
    position:absolute;
    top: 0px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/*----Calendar------*/
#calendar {
    font-size: 14px;
}

.fc-toolbar {
    font-size: 14px;
    font-family: helvetica;
    color: #c1c1c1; #lightgrey
}

.fc-day:hover {
    background: #f1f1f1; #lightgrey
}
