.sideBySide {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	height: 59%;
}

#hardware, #kitInfo {
    text-align: left;
    vertical-align: top;
    padding-bottom: 10px;
    background-color: #eeeeee;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#hardware {
    padding-left: 10px;
}
/*#kitInfo ul {
    list-style-type: none;
    margin: 10px 0 16px 0;
}

#kitInfo li {
    padding-top: 10px;
}*/

#kitInfo #kitEditForm {
    width: 100%;
}

.kitInfoInput {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5px;
    height: 40px;
    line-height: 40px;
}

.kitInfoInput label {
    display: inline-block;
    width: 200px;
}

.kitInfoInput input {
    width: 315px;
}

#kitInfoSubmitButton.kitInfoInput {
    text-align: center;
}


input[type="submit"] {
    background-color:#d62f33;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    width: 170px;
}

#addToKitSubmit {
	width: 50%;
}

#removeBtn {
    width: 40%;
}

input {
     border: 2px solid purple;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 5px 0;
    width: 40%;
    font-size: 18px;
}


label {
    font-size: 20px;
}

.assetTable .table-wrapper {
	height: 100px;
	margin: 0 10px 0 10px;
}

tr.deviceRow {
    background-color: #f9f9f9;
}

select {
    font-size: 16px;
    color: white;
    -webkit-appearance: initial;
    -webkit-appearance: menulist-button;
    width: 320px;
    text-indent: 5px;
    border: 2px solid purple;
    background-color: purple;
}

.selected {
    background-color: #FBBC2E !important;
}

/* Define the hover highlight color for the table row */
#assetTable tbody tr:hover {
      background: #dddddd;
}

#addAssetList {
	padding-top: 5px;
	height: 300px;
	margin: 0 20px 0 20px;
}

label[for="title"] {
    color: #039CE0;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 50%;
}

.formatting {
    display: inline-block;
    width: 49%;
}

.formatting label[for="title"] {
    width: 100%;
}

.formatting input {
    width: 70%;
    margin-bottom: 10px;
}

.formatting input[type="submit"] {
    width: 180px;
    margin: auto;
}

.hardwareType {
    padding-top: 10px;
    margin-top: 5px;
    background: #eeeeee;
}

.hardwareType ul {
    list-style: none;
}
.hardwareType li {
    padding-bottom: 10px;
}

.title {
    font-size: 30px;
    position: relative;
}

.table-title-header {
    display: block;
    width: 100%;
}
