@import url(//fonts.googleapis.com/css?family=Lato:700);

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #ffffff;
    font-family: helvetica;
}

#Image {
    text-align: left;
    width: 100%;
    padding-top: 10px;
    padding-left: 5%;
    position: relative;
    background: #ffffff;
}

#bar {
    height: 15px; 
    background: #FBBC2E; #Orange
}

.cal {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a {
    text-decoration:none;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
 }

a:visited {
  text-decoration: none;
  color: #FFFFFF;
 }

a:hover {
    text-decoration: none;
    color: #FFFFFF;
 }

a:active {
    text-decoration: none;
    color: #FFFFFF;
 }

.menu {
    margin: auto 70px;
}

.button {
    z-index: 0;
    border: 10px solid;
    border-color: #17408A;
    background: #17408A;
    border-radius: 25px;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    position:relative;
}
