@import url(//fonts.googleapis.com/css?family=Lato:700);

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #ffffff;
    font-family: helvetica;
    /*position: fixed;*/
}

#Image {
    text-align: left;
    width: auto;
    padding-top: 10px;
    padding-left: 5%;
    position: relative;
    background: #ffffff;
}

#bar {
    height: 15px; 
    background: #EEAC00; 
}

.cal {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a {
    text-decoration:none;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
 }

a:visited {
  text-decoration: none;
  color: #FFFFFF;
 }

a:hover {
    text-decoration: none;
    color: #FFFFFF;
 }

a:active {
    text-decoration: none;
    color: #FFFFFF;
 }

.navMenu {
    padding-left: 70px;
    padding-right: 70px;
    width: width;
    height: 36px;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    color: white;
    font-weight: 400;
    background-color: #FBBC2E;
}

.navMenu ul {
    height: auto;
    padding: 0px 0px;
    margin: 0px;
}

.navMenu li { 
    box-sizing: border-box;
    display: block;
    height: auto;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
}

#logout{
    float: right;
}

.active a {
    background: #039CE0;
}

#bar {
    height: 15px;
    background: #FBBC2E; 
}

.navMenu a {
    padding: 6px 10px 7px 10px;
    width: auto;
}

.navMenu a:hover {
    color: #FBBC2E;
    background-color: #FFF;
}
