#tableWrapper {
    margin: 20px auto 40px auto;
    width: 90%;
    height: 76%;
}

#tableRows {
    height: 100%;
    overflow:auto;
}

.kitFilter {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    background: #eeeeee;
}

.kitFilter {
    list-style-type: none;
    margin: 0px;
}

.kitFilter li{
    display: inline;
    padding-left: 6px;
}

.filterTitle {
    display: inline;
    font-weight: 600;
}

.kitsTable{
    table-layout: fixed;
    width:100%; 
    border-collapse:collapse; 
}
.kitsTable th{ 
    padding:7px; 
    text-align: left;
    background: #666666;
    color: #ffffff;
}
.kitsTable td{ 
    padding:7px; 
}
/* Define the default color for all the table rows */
.kitsTable tr{
    background: #eeeeee;
}
/* Define the hover highlight color for the table row */
.kitsTable tbody tr:hover {
      background: #dddddd;
}

.selected {
    background-color: #FBBC2E !important;
}

th, td {
    width: 200px;
}

.highlight {
    background: #ffffff;
    
}