@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
    margin:0;
    font-family:'Helvetica', sans-serif;
    font-size: 100%;
    text-align:center;
    background-color: #ffffff; #white
    width: 800px;
    height 100%;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    margin-top: 16%;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    text-align: center;
}

.bar {
    height: 15px;
    background: #C1C1C1; #lightgrey
}

.cal {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a {
    text-decoration:none;
    color: #414141; #darkgrey
}

a:active {
    text-decoration:none;
    color: #C1C1C1; #lightgrey
}

#title {
    color: #C1C1C1; #aubergine
    height: 100%;
    font-size: 500%;
    text-align: centre:
    background: #ffffff; #white
    font-color: #414141; #aubergine
    text-decoration: none;
}

#link {
    font-size: 100%;
}

#item {
    font-size: 500%;
}

#textareasOut {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    
}

#textareasIn {
    margin-top: 5%;
    position: relative;
    display: block;
    vertical-align: centre;
    text-align: right;
}

#form {
    height: inherit;
    width: inherit;
    font-size: 100%;
    color: #C1C1C1; #lightgrey
}

#form ul {
    border: 5px solid #C1C1C1; #lightgrey
}

#form ul li{
    height: 100%;
}

#nav {
    background: #ffffff; #white
    font-color: #414141; #aubergine
    text-decoration: none;
    display: inline-block;
}

#nav ul {
    list-style: none;
    font-color: #414141; #aubergine
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#nav ul li {
    float: left;
    padding: 5px;
    text-decoration: none;
    display: table;
    color: #414141; #aubergine
}

#nav ul li a {
    color: #414141; #aubergine
    font-size: 500%;
    text-decoration: none;
    border: 5px solid #C1C1C1; #lightgrey
}

#nav ul li a:link {
    font-size: 500%;
    color: #414141; #aubergine
    text-decoration: none;
    border: 5px solid #C1C1C1; #lightgrey
}

#nav ul li a:hover {
    font-size: 500%;
    color: #414141; #aubergine
    text-decoration: none;
    border: 5px solid #C1C1C1; #lightgrey
}

#nav ul li a:active {
    font-size: 500%;
    color: #C1C1C1; #lightgrey
    border: 5px solid #C1C1C1; #lightgrey
}
