body {
}

.tableTitle {
    margin: 5px 0% 5px 0%;
    font-size: 25px;
    float: left;
}

#tomorrowDate, #todayDate {
    margin: 10px 0% 5px 3%;
    float: left;
    font-size: 20px;
    color: grey;
}

#todayTable, #tomorrowTable {
    margin: 0px 0% 40px 3.3%;
    width: 45%;
    height: 65%;
    float: left;
    text-align: left;
}

.tableRows {
    height: 100%;
    overflow:auto;
    float: left;
    /*border: 1px solid #eeeeee;*/
    background: #f9f9f9;
}

.bookingsTable{
    table-layout: fixed;
    width:100%; 
    border-collapse:collapse; 
}
.bookingsTable th{ 
    padding:7px; 
    text-align: left;
    background: #666666;
    color: #ffffff;
}
.bookingsTable td{ 
    padding:7px; 
}
/* Define the default color for all the table rows */
.bookingsTable tr{
    background: #eeeeee;
}
/* Define the hover highlight color for the table row */
.bookingsTable tbody tr:hover {
      background: #dddddd;
}

.selected {
    background-color: #FBBC2E !important;
}

th, td {
    width: 20%;
}

.highlight {
    background: #ffffff;
}

.formFields {
    list-style-type: none;
    margin: 0px;
}

.formFields li{
    display: inline;
    padding-left: 2px;
    white-space: nowrap;
}

.form {
    height: auto;
    line-height: 34px;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    background: #eeeeee;
}

#submit {
    float: right;
    margin-left: 0px;
    margin-right: 80px;
}