.table-wrapper {
    margin: 20px auto 40px auto;
    width: 90%;
    height: 350px;
}

.table-rows-table-wrapper {
    height: inherit;
    background: #eeeeee;
	overflow-y:scroll;
}

.table-static-header, .table-rows-table{
    table-layout: fixed;
    width:100%; 
    border-collapse:collapse; 
}
.table-static-header-row th, .table-static-header-row td{ 
    padding:7px; 
    text-align: left;
    background: #666666;
    color: #ffffff;
}
.table-rows-table td{
    padding:7px; 
}
/* Define the default color for all the table rows */
.table-rows-table tr{
	text-align: left;
    background: #eeeeee;
}
/* Define the hover highlight color for the table row */ 
.table-rows-table tr:hover {
      background: #dddddd;
}

.selected {
    background-color: #FBBC2E !important;
}

.table-rows-table td, .table-static-header td{
    width: auto;
}

.highlight {
    background: #ffffff;
    
}

