button {
    background-color:#d62f33;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    width: 75%;
}

#usersTable {
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
	height: 350px;
	width: 90%;
}
